:root {
  --color-code: #AD5B5D;
}

body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0px;
  background-color: white;
  overflow: hidden;
  background: gainsboro;
  display: flex
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

div img {
  position: relative;
  height: auto;
  width: auto;
  padding: 5px;
  z-index: 1;
}

#chatbot_toggle {
  position: absolute;
  right: 0;
  border: none;
  height: 48px;
  width: 48px;
  background: white;
  backdrop-filter: blur(10px);
  padding: 14px;
  color: var(--color-code);
  cursor: pointer;
}

#chatbot_toggle:hover {
  backdrop-filter: blur(20px);
}

.close {
  color: var(--color-code);
  cursor: pointer;
}

.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}

.main-title {
  background-color: rgba(255, 255, 255, 1);
  color: var(--color-code);
  font-size: large;
  font-weight: bold;
  margin-right: 44px;
  display: flex;
  height: 48px;
}

.main-title .refreshbtn {
  font-size: 20px;
  padding: 12px;
}

.main-title>div {
  height: 48px;
  width: 48px;
  display: flex;
  margin-left: 8px;
}

.main-title svg {
  height: 24px;
  margin: auto;
}

.main-title>span {
  margin: auto auto auto 8px;
}

.chat-area {
  flex-grow: 1;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.cred-form.active {
  height: 100%;
  margin-top: 45%;
}

.cred-form.inactive {
  display: none;
}

.cred-form .user-form .department,
.department-dropdown {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 76%;
  color: var(--color-code);
  font-size: 16px;
  border: 1px solid var(--color-code);
}

.cred-form .user-form {
  align-items: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
}

.cred-form .user-form input {
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 70%;
  color: var(--color-code);
  font-size: 16px;
  border: 1px solid var(--color-code);
}

.cred-form .user-form input[type="submit"],
.dropdown-button {
  background: var(--color-code);
  border: none;
  color: white;
  width: 100px;
  align-self: center;
  cursor: pointer;
}

.dropdown-button {
  width: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
}

.input-message {
  padding: 8px 48px 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-code);
  flex-grow: 1;
  border: none;
}

.input-message:focus {
  outline: none;
}

.input-div {
  height: 48px;
  display: flex;
}

.input-send {
  background: rgba(255, 255, 255, 0.2);
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  cursor: pointer;
}

.input-send,
.input-mic {
  background: rgba(255, 255, 255, 0.2);
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.input-send ion-icon,
.input-mic ion-icon {
  font-size: 20px;
  color: var(--color-code);
}

.input-send svg {
  fill: white;
  margin: 11px 8px;
}

.chat-message-div {
  display: flex;
}

.chat-message-sent {
  margin: 8px 16px 8px 64px;
  padding: 8px 16px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: #AD5B5D;
  border-radius: 8px 8px 0px 8px;
  background-color: white;
  border: 1px solid var(--color-code);
  box-shadow: -3px 3px var(--color-code);
}

.more {
  margin: 8px 64px 8px 16px;
  padding: 8px 16px;
  height: 100px;
  overflow: hidden;
  color: #AD5B5D;
  text-overflow: ellipsis;
  border-radius: 8px 8px 8px 0px;
  background-color: white;
  background-color: lightgreen;
  border-radius: 8px;
  border: 2px solid #6c6;
  transition: width 1s ease;
}

.more a {
  text-decoration: underline;
  color: blue;
}

.more:hover {
  margin: 8px 64px 8px 16px;
  padding: 8px 16px;
  height: auto;
  border-radius: 8px 8px 8px 0px;
  background-color: white;
  color: #AD5B5D;
  overflow: auto;
  text-overflow: clip;
}

.chat-message-received {
  margin: 8px 64px 8px 16px;
  padding: 8px 16px;
  animation-name: fadeIn;
  word-break: break-word;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 100ms;
  color: #AD5B5D;
  border-radius: 8px 8px 8px 0px;
  background-color: white;
  border: 1px solid var(--color-code);
  box-shadow: 3px 3px var(--color-code);
}

.chat-message-received a {
  text-decoration: none;
  color: #AD5B5D;
}

.loader {
  margin: 8px auto 8px 16px
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 450px) {
  .main-card {
    width: 96%;
    max-width: 400px;
    height: calc(100% - 32px) !important;
    border-radius: 8px !important;
    max-height: 600px;
    margin: 16px !important;
  }

  .collapsed {
    width: 48px !important;
    height: 48px !important;
    border-radius: 24px !important;
    margin: 16px !important;
  }

  .main-card {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    right: 0;
    bottom: 25px;
    position: absolute;
    transition: all 0.5s;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: var(--color-code);
}